.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background-color:#2481a3;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-toolbar{
  background-color:#2d3494;

}
.space {
  flex: 1 1 auto;
}
.name{
  border-radius: 20px;
  padding: 8px;
  background-color: white;
  color: green;
}

.active{
  background-color: rgb(170, 223, 243);
}