<app-home></app-home>
<div class="row">
    <div class="col-sm-6">
        <div class="p-3 mt-1">
            <h2 class="intro-head">Car Dealership</h2>
            <p class="intro">Here are examples of responsibilities from real car sales consultant resumes
                representing typical tasks
                they are likely to perform in their roles.

                Coordinate and manage services and requests from clients for BMW, Lexus, and Mercedes for auto body
                repairs and restorations.
                Identify new sales opportunities within existing accounts to remain a client-account manager
                relationship by up-selling and cross-selling.
                Work with agency partners on creative execution for Facebook marketing campaigns (including design,
                layout and copy).
                Develop inventory database for tracking parts list on eBay.</p>
            <p class="intro">Here are examples of responsibilities from real car sales consultant resumes
                representing typical tasks
                they are likely to perform in their roles.

                Coordinate and manage services and requests from clients for BMW, Lexus, and Mercedes for auto body
                repairs and restorations.
                Identify new sales opportunities within existing accounts to remain a client-account manager
                relationship by up-selling and cross-selling.
                Work with agency partners on creative execution for Facebook marketing campaigns (including design,
                layout and copy).
                Develop inventory database for tracking parts list on eBay.</p>
        </div>
    </div>
    <div class="col-sm-6 mt-2">
        <img class="intro-img" src="assets/images/car1.webp" alt="pic">
        <img class="intro-img" src="assets/images/car2.jpg" alt="pic">
    </div>
</div>