.intro-head {
    font-size: 25px;
    background-color: rgb(208, 206, 206);
    padding: 10px;
    text-align: center;
}

.intro {
    font-size: 20px;
    padding: 10px;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
}

.intro-img {
    width: 100%;
    padding: 10px;
    height: 310px;
}