.container-fluid {
    background: linear-gradient(45deg, rgb(252, 215, 215), rgb(167, 167, 237), rgb(194, 244, 194));
    height: 622px;
}

.signup {
    margin: 15px auto;
}

.card {
    padding: 30px;
}
.btn{
    width: 100%;
}