.custom-scrollbar {
    position: relative;
    height: 690px;
    overflow: auto;
}

thead {
    background-color: rgb(210, 145, 251);
}

.table-bordered> :not(caption)>*>* {
    border-width: 1px;
}
td{
    font-weight: 500;
}