.container-fluid{
    background: linear-gradient(45deg, rgb(252, 215, 215), rgb(167, 167, 237), rgb(194, 244, 194));
    height: 622px;
}
.image{
    margin: 15px;
    width: 100%;
    height: 255px;
}
.login{
    margin: 50px auto;
}
.btn{
    width: 100%;
}